* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  min-height: 100vh;
  background: #000;
  padding: 20px;
}

.box-item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  position: relative;
  left: 0;
  animation: animation-item 2s linear infinite alternate;
}

@keyframes animation-item {
  0% {
    left: 0;
  }
  50% {
    border-radius: 0;
    background: red;
  }
  100% {
    left: 600px;
  }
}
